.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 12px;
    padding: 16px 48px;
    height: 60px;
    background-color: #f4c550;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6;
    color: #121417;
}

.btn:hover {
    background-color: #ffdc86;
}