.home {
    width: 1440px;
    margin: 0 auto;
}

.homeContainer {
    padding: 20px 64px 32px;
}

.homeBox {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.homeBoxDiv1 {
    padding: 98px 64px;
    border-radius: 30px;
    width: 720px;
    height: 530px;
    background-color: #f8f8f8;
}

.homeBoxDiv1>p {
    width: 471px;
}

.homeBoxDiv1 h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 1.7;
    letter-spacing: -0.02em;
    color: #121417;
    width: 548px;
    padding-bottom: 32px;
}

.homeBoxDiv1 h1>span {
    font-style: italic;
    font-weight: 400;
    background-color: #fbe9ba;
}

.homeBoxDiv1 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: #121417;
    padding-bottom: 64px;
}

.homeBoxDiv1 div {
    width: 267px;
}

.homeWrapper {
    width: 100%;
    padding: 20px 122px;
    border: 1.5px dashed #f4c550;
    border-radius: 30px;
}

.homeWrapper ul {
    display: flex;
    gap: 100px;
}

.homeWrapper ul>li {
    display: flex;
    gap: 16px;
}

.homeWrapper ul>li>span {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #121417;
}

.homeWrapper ul>li>p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: rgba(18, 20, 23, 0.7);
}