.teachers {
    width: 1440px;
    margin: 0 auto;
}

.teachersContainer {
    padding: 96px 128px;
}

.filtersBox {
    display: flex;
    gap: 20px;
}

.languagesBox {
    display: flex;
    flex-direction: column;
}