.header {
    margin: 0 auto;
    width: 1440px;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 128px;
}

.nav {
    width: 661px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.logo span {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #121417;
}

.reg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 39px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
}

.reg:hover {
    background: #121417;
    color: #fff;
}

.navBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #121417;
}

.login,
.logout {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #121417;
    border-radius: 12px;
    padding: 14px 16px;
}

.login:hover,
.logout:hover {
    background: #121417;
    color: #fff;
}

.auth {
    display: flex;
}